.crypto-wrapper {
    height: 25rem;
    width: 95rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.most-popular{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.crypto-img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
.crypto-table {
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}
.crypto-table th {
    font-weight: bold;
    font-size: 1.5rem;
    color: #CCCCCC ;
}
.coin-info span{
    color: #fcfcfc;
}
.coin-cap {
    color: #fcfcfc;
}
.crypto-price {
    color: aliceblue;
}
.crypto-cap {
    color: aliceblue;
}
.crypto-table th, .crypto-table td {
    padding: 0.8rem;
    border-bottom: 1px solid #333;
    text-align: center;
}
.positive-change {
    color: rgb(23, 177, 23);
}

.negative-change {
    color: rgb(246, 97, 97);
}
.most-popular p {
    color: #BA55D3;
    padding: 1rem;
}
